body {
  background: darkblue;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
}

ul {
  list-style: none;
}

li {
  background: #eee;
  color: darkblue;
  padding: 5px 20px;
  margin: 5px 0;
}